<div class="newsletter card">
  <h3>Get launch updates</h3>
  <p class="muted">
    Get notified when <strong>New Troll Party</strong> launches on Kickstarter.
    No spam. One-click unsubscribe.
  </p>

    <form
        action="https://buttondown.com/api/emails/embed-subscribe/MattKeenGames"
        method="post"
        class="embeddable-buttondown-form"
    >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" />
    <input type="submit" value="Subscribe" />
    <p>
        <a href="https://buttondown.com/refer/MattKeenGames" target="_blank">
        Powered by Buttondown.
        </a>
    </p>
    </form>
</div>
